<h1>Editing drug</h1>

<%= render "form", drug: @drug %>

<br>

<div>
  <%= link_to "Show this drug", @drug, class:"btn btn-primary" %> |
  <%= link_to "Back to drugs", drugs_path, class:"btn btn-secondary" %>
</div>
