<%= render @drug %>

<div>
  <%= link_to "Edit this drug", edit_drug_path(@drug), class:"btn btn-success" %> |
  <%= link_to "Back to drugs", drugs_path, class:"btn btn-secondary" %>

  <%= button_to "Destroy this drug", @drug, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger mt-3" %>
</div>
